
@using Blazor.FileReader;
@inject IFileReaderService fileReaderService;
@inject ImageToExcel.Services.IExcelGenerator generator;

<h4>Try it now</h4>
<div class="image-upload-component mb-4">
    <div class="form-group">
        <label>Select an image</label>
        <!-- Only accepting JPEGs for now. PNGs make ImageSharp throw errors.  -->
        <input class="form-control-file" type="file" ref="fileElement" accept="image/jpeg" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" onclick="@DownloadFile">Convert to Excel!</button>
    </div>
</div>

@functions {

    ElementRef fileElement;
    async Task DownloadFile()
    {
        var fileCount = await FileReaderJsInterop.GetFileCount(fileElement);
        if(fileCount <= 0)
        {
            return;
        }

        foreach (var file in await fileReaderService.CreateReference(fileElement).EnumerateFilesAsync())
        {
            var fileInfo = await file.ReadFileInfoAsync();
            using(var stream = await file.CreateMemoryStreamAsync())
            {
			    var resultStream = generator.Generate(stream);
                await ImageToExcelLib.JsInterop.SaveAsFile(resultStream, fileInfo.Name.Split('.')[0] + ".xlsx");
            }
        }
    }
}
